.verify-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e6f0ff;
}

.verify-box {
  width: 380px;
  background: white;
  padding: 35px;
  border-radius: 16px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
  text-align: center;
}

.verify-box h2 {
  color: #003366;
  margin-bottom: 15px;
  font-size: 26px;
}

.verify-box p {
  color: #555;
  font-size: 16px;
  margin-bottom: 20px;
}

.btn-verify {
  background: #003366;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.btn-verify:hover {
  background: #0055aa;
}
